const char *head ="\
#include <stdlib.h>\n\
#include <stdio.h>\n\
long heap[1000000000];\n\
long stack[1000000000];\n\
int main() {\n\
    char ch; \n\
    int sp = -1;\n\
    long tmp, lhs, rhs, addr, value;\n";
