const char *head =
"#include <stack>\n\
#include <stdio.h>\n\
using namespace std;\n\
int main() {\n\
    char ch; \n\
    long tmp, lhs, rhs, addr, value;\
    long heap[1000000000];\
    stack<long> Stack;";